body {
    padding: 0;
    margin: 0;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

/* header */
.header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px #EBEBEB solid;
    background-color: white;
    height: 10vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

/* logo */
.logo {
    flex: 1;
    padding-left: 1vw;
}

.logo img {
    width: 118px;
    height: auto;
}

/* search-bar */
.search-container {
    flex: 2;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 361px;
    height: 46px;
    color: #555;
    display: flex;
    border: 1px solid rgba(22, 24, 35, .34);
    border-radius: 95px;
    padding-left: 2%;
    padding-right: 2%;
    background: rgba(22, 24, 35, .06);
}

.search-bar input {
    flex:2;
    border: none;
    width: 292px;
    height: 22px;
    background: transparent;
    font-family: sans-serif;
    font-size: 16px;
    color: #161823;
    caret-color: red;
}

.search-bar input:focus {
    outline:none!important;
}

.search-bar hr {
    height: 22px;
    width: 1px;
    background-color: rgba(22, 24, 35, .34);
    border: none;
    margin: 0;
}

.search-bar button {
    border: none;
    background: transparent;
    font-size: 16px;
    margin-left: 10px;
}

.fa-search {
    color: rgba(22, 24, 35, .34);
    font-size: 20px;
}

/* right-container */
.right-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
    font-family: sans-serif;
    font-size: 16px;
    color: #161823;
}

.upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    width: 113px;
    height: 34px;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
}

.upload:hover {
    background-color: #F8F8F8;
}

.upload input {
    visibility:hidden;
}

.login {
    width: 33%;
    font-family: sans-serif;
}

.login button {
    text-align: center;
    font-size: 10px;
    color: white;
    width: 100px;
    height: 36px;   
    background-color: #EF2950;
    border-color: transparent;
    border-radius: 2px;
    margin: 6%;
}

.login button:hover {
    background-color: rgb(204, 36, 67);
}

.login h2 {
    margin: 0;
}

.else {
    width: 30px;
}

.else button {
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
    margin: 6%;
}

.else fa-ellipsis-v {
    color: #161823;
}

/* content */

.content {
    display: flex;
    flex-direction: row;
    margin-left: 294px;
}

/* navbar */

.navbar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 90vh;
    border-right: 1px #EBEBEB solid;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 74px;
    padding-top: 1%;
}

/* menu */

.menu {
    font-family: sans-serif;
    font-size: 13px;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}

.line a  {
    text-decoration: none;
    color: black;
}

.navbar hr {
    height: 1px;
    width:80%;
    background-color: #EBEBEB;
    border: none;
    margin-left: 10%;
}

.navbar-login {
    margin-left: 10%;
    
}

.navbar-login p {
    font-family: sans-serif;
    color: gray;
}

.navbar-login button {
    color: #EF2950;
    border: 1px solid #EF2950;
    width: 85%;
    height: 40%;
    border-radius: 5px;
    background-color: white;
    font-size: 12px;
    text-align: center;
}

.navbar-login button:hover {
    background-color: #FFF3F5;
}

/* suggested */

.suggested p {
    font-family: sans-serif;
    color: gray;
    padding-left: 10%;
}

.profile-card {
    display: flex;
    align-items: center;
    margin-left: 10%;
    width: 219px;
    height: 48px;
}

.profile-card p {
    padding-left: 2%;
    font-family: sans-serif;
    font-size: 13px;
}

.profile-card img {
    border-radius: 50%;
    max-width: 30px;
    max-height: 30px;
}

/* about */

.about {
    display: flex;
    flex-direction: column;
}

.block {
    margin-bottom: 10%;
    margin-left: 10%;
}

.block a {
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
    font-size: 12px
}

.block p {
    color: gray;
    font-family: sans-serif;
    font-size: 12px
}

/* live */

.live {
    width: 100%;
    z-index: 0;
}

/* profile-line */

.profile-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    width: auto;
}

.profile {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

.profile p {
    margin-left: 2%;
    color: gray;
    font-family: sans-serif;
    font-size: 12px
}

.profile strong {
    color: black;
    font-family: sans-serif;
    font-size: 12px
}

.button-block {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 2%;
}

.profile-line button {
    margin-left: 2%;
    margin-right: 2%;
}

.profile-line img{
    border-radius: 50%;
    max-width: 41px;
    max-height: 41px;
}

.follow {
    text-align: center;
    font-size: 10px;
    color: white;
    width: 100px;
    height: 36px;   
    background-color: #EF2950;
    border-color: transparent;
    border-radius: 2px;
    margin: 6%;
}

.follow:hover {
    background-color: rgb(204, 36, 67);
}

.follow h2 {
    margin: 0;
}

.share {
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    background-color: white;
    height: 36px;
    width: 36px;
    margin: 0;
}

.report {
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    background-color: white;
    height: 36px;
    width: 36px;
    margin: 0;
}

.chat {
    border: none;
    background-color: white;
    height: 36px;
    width: 36px;
    margin: 0;
}

/* donation */

.donation {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EBEBEB;
}

.stickers {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px solid #EBEBEB;
}

.sticker {
    display: flex;
    flex-direction: column;
    height: 96px;
    width: 86px;
    margin-left: 1%;
    margin-right: 1%;
    font-family: sans-serif;
    font-size: 10px;
    align-items: center;
}

.sticker img {
    max-width: 48px;
    max-height: 48px;
}

.sticker p {
    margin: 0;
}

.sticker h4 {
    margin: 0;
    margin-top: 10px;
}

.donation hr {
    height: 1px;
    width:85%;
    background-color: #EBEBEB;
    border: none;
    margin-left: 10%;
}

.coins {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coins p {
    font-family: sans-serif;
    font-size: 14px;
}

/* recommendations */

.recomemended {
    display: flex;
    flex-direction: column;
}

.text h2 {
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    padding-left: 5%;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0;
}

.videos {
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.video {
    flex: 1 0 21%;
}

.badge {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.badge img{
    border-radius: 50%;
    max-width: 32px;
    max-height: 32px;
}

.badge p {
    font-family: sans-serif;
    padding-left: 5%;
    margin-top: 0;
    margin-bottom: 5%;
}
